In [16]:
import json
import pandas as pd

# Part 1: Reading and investigating data

Open up the `player_data.json` and investigate the data structure.

In [17]:
#your code here
data = json.loads(open('player_data.json').read())

# Part 2:  Creating the Dataframe

Create a data frame where each row corresponds to a game for each player. You must have atleast the following columns in your final dataframe:

'DISPLAY_FIRST_LAST', 'PERSON_ID', 'TEAM_ID', 'AST', 'BLK', 'DREB','Game_ID',  'MIN', 'PTS', 'REB', 'TEAM_ABBREVIATION'

*You can include additional columns in your dataframe, so you don't have to do additional work to remove other columns.*

In [18]:
# with open('') as file:
#     data = json.load(file)
#     print(data)
# len(data)
# 538

data[0].keys()

dict_keys(['PERSON_ID', 'FIRST_NAME', 'LAST_NAME', 'DISPLAY_FIRST_LAST', 'DISPLAY_LAST_COMMA_FIRST', 'DISPLAY_FI_LAST', 'BIRTHDATE', 'SCHOOL', 'COUNTRY', 'LAST_AFFILIATION', 'HEIGHT', 'WEIGHT', 'SEASON_EXP', 'JERSEY', 'POSITION', 'ROSTERSTATUS', 'TEAM_ID', 'TEAM_NAME', 'TEAM_ABBREVIATION', 'TEAM_CODE', 'TEAM_CITY', 'PLAYERCODE', 'FROM_YEAR', 'TO_YEAR', 'DLEAGUE_FLAG', 'NBA_FLAG', 'GAMES_PLAYED_FLAG', 'DRAFT_YEAR', 'DRAFT_ROUND', 'DRAFT_NUMBER', 'CAREER_STATS', 'GAMELOG'])

In [19]:
print(len(data[5]['GAMELOG'])) # varies
data[0]['GAMELOG'][0].items()

19

dict_items([('SEASON_ID', '22018'), ('Player_ID', 203518), ('Game_ID', '0021800772'), ('GAME_DATE', 'FEB 01, 2019'), ('MATCHUP', 'OKC @ MIA'), ('WL', 'W'), ('MIN', 9), ('FGM', 0), ('FGA', 2), ('FG_PCT', 0.0), ('FG3M', 0), ('FG3A', 1), ('FG3_PCT', 0.0), ('FTM', 0), ('FTA', 0), ('FT_PCT', 0.0), ('OREB', 0), ('DREB', 0), ('REB', 0), ('AST', 0), ('STL', 0), ('BLK', 0), ('TOV', 0), ('PF', 1), ('PTS', 0), ('PLUS_MINUS', -8), ('VIDEO_AVAILABLE', 1), ('TEAM_ABBREVIATION', 'OKC'), ('TEAM_ID', 1610612760)])

In [20]:
df = pd.DataFrame()
df

Empty DataFrame
Columns: []
Index: []

In [21]:
df = pd.DataFrame()

for person in data:
    if len(person['GAMELOG']) == 0:
        continue
    df1 = pd.DataFrame(person, columns=['DISPLAY_FIRST_LAST', 'PERSON_ID', 'TEAM_ID'], index=[0])
    df2 = pd.DataFrame(person['GAMELOG'])
    merged = pd.merge(df1, df2, left_on='PERSON_ID', right_on='Player_ID', how='outer')
    df = pd.concat([df, merged])
    
df.reset_index(drop=True, inplace=True)
df.columns

Index(['DISPLAY_FIRST_LAST', 'PERSON_ID', 'TEAM_ID_x', 'AST', 'BLK', 'DREB',
       'FG3A', 'FG3M', 'FG3_PCT', 'FGA', 'FGM', 'FG_PCT', 'FTA', 'FTM',
       'FT_PCT', 'GAME_DATE', 'Game_ID', 'MATCHUP', 'MIN', 'OREB', 'PF',
       'PLUS_MINUS', 'PTS', 'Player_ID', 'REB', 'SEASON_ID', 'STL',
       'TEAM_ABBREVIATION', 'TEAM_ID_y', 'TOV', 'VIDEO_AVAILABLE', 'WL'],
      dtype='object')

In [22]:

df.head(5)

,DISPLAY_FIRST_LAST,PERSON_ID,TEAM_ID_x,AST,BLK,DREB,FG3A,FG3M,FG3_PCT,FGA,...,PTS,Player_ID,REB,SEASON_ID,STL,TEAM_ABBREVIATION,TEAM_ID_y,TOV,VIDEO_AVAILABLE,WL
0,Alex Abrines,203518,0,0,0,0,1,0,0.000,2,...,0,203518,0,22018,0,OKC,1610612760,0,1,W
1,Alex Abrines,203518,0,0,0,1,2,1,0.500,2,...,3,203518,1,22018,0,OKC,1610612760,0,1,W
2,Alex Abrines,203518,0,0,2,1,5,1,0.200,6,...,7,203518,1,22018,0,OKC,1610612760,0,1,L
3,Alex Abrines,203518,0,0,0,1,4,2,0.500,4,...,6,203518,1,22018,0,OKC,1610612760,0,1,W
4,Alex Abrines,203518,0,1,0,1,7,3,0.429,7,...,9,203518,1,22018,0,OKC,1610612760,0,1,W

# Part 3: Pandas Questions

Answer the following questions

## 1 
- Find the player who scored the most points in an individual game last season.

-  Now do the same for rebounds, blocks, and assists.

In [107]:
# print(df[['DISPLAY_FIRST_LAST']][df['PTS'] == df['PTS'].max()])
# print(df[['DISPLAY_FIRST_LAST']][df['REB'] == df['REB'].max()])
# print(df[['DISPLAY_FIRST_LAST']][df['BLK'] == df['BLK'].max()])
# print(df[['DISPLAY_FIRST_LAST']][df['AST'] == df['AST'].max()])

# df.groupby(['Game_ID', 'TEAM_ID_y']).max()
# df.groupby(['DISPLAY_FIRST_LAST']).max().sort_values(by=['PTS'], ascending=False).head()

# df.groupby(['DISPLAY_FIRST_LAST', 'PTS']).max().sort_values(by=['PTS'], ascending=False).head()

# plyer_mx_pts = df.nlargest(20, ['PTS', 'AST'])
# plyer_mx_pts
# df.nlargest(20, ['PTS', 'AST'])

# mx_pt_ind = df.groupby(['Game_ID', 'DISPLAY_FIRST_LAST'])['PTS'].sum()
# x = mx_pt_ind.nlargest(1, keep = 'first')
# dfx = pd.DataFrame(x)
# dfx

# mx_pt_ind = df.groupby(['Game_ID', 'DISPLAY_FIRST_LAST'])['PTS'].sum()
# mx_pt_ind
# x = mx_pt_ind.nlargest(1, keep = 'first')
# dfx = pd.DataFrame(x)
# dfx

#############################################

# Sean
# df.loc[[df['PTS'].idxmax('PTS')]]

# Sean / Rami
df.loc[[df['PTS'].idxmax()]]

# Nabil
# df[df['PTS'] == df['PTS'].max()] 

# John / Rami
# df.loc[df['PTS'].nlargest()].head(3)
# df.nlargest(6, ['PTS', 'AST'])

,DISPLAY_FIRST_LAST,PERSON_ID,TEAM_ID_x,AST,BLK,DREB,FG3A,FG3M,FG3_PCT,FGA,...,PTS,Player_ID,REB,SEASON_ID,STL,TEAM_ABBREVIATION,TEAM_ID_y,TOV,VIDEO_AVAILABLE,WL
10323,James Harden,201935,1610612745,1,0,5,13,9,0.692,34,...,61,201935,7,22018,3,HOU,1610612745,3,1,W

## 2: 

- Find the player who scored the most points for the entire season.

- Now do the same for rebounds, blocks, and assists.

In [67]:
# Rami
# df.groupby(['DISPLAY_FIRST_LAST'])['PTS'].sum().idxmax()

# Sean
player_grouped = df.groupby('DISPLAY_FIRST_LAST')
player_grouped['PTS'].sum().idxmax()


# This is GOOD for TOTAL # GAMES???
# player = player_grouped['PTS'].count()

'James Harden'

In [ ]:
# What is the "count" for???
# player_grouped = df.groupby('DISPLAY_FIRST_LAST')
# player = player_grouped['AST'].sum.count.idmax

In [56]:
# return answer to Q. 1
# display(df.groupby(['PERSON_ID'])['PTS'].max().max())

# John
# x = df.groupby(['SEASON_ID', 'DISPLAY_FIRST_LAST'])['PTS'].sum()
# mx_x = x.nlargest(3, keep = 'all')
# mx_x

# df.groupby('DISPLAY_FIRST_LAST')['PTS'].sum().sort_values(ascending=False).head(1)
df.groupby(['DISPLAY_FIRST_LAST', 'TEAM_ABBREVIATION'])['PTS'].sum().nlargest()

DISPLAY_FIRST_LAST  TEAM_ABBREVIATION
James Harden        HOU                  2818
Paul George         OKC                  2159
Kemba Walker        CHA                  2102
Bradley Beal        WAS                  2099
Damian Lillard      POR                  2067
Name: PTS, dtype: int64

## 3:
How many players played in at least 82 games last season?

In [42]:
# (df['DISPLAY_FIRST_LAST'].value_counts() >= 82).sum()
(df['DISPLAY_FIRST_LAST'].value_counts() >= 82).sum()

21

In [47]:
# --------------
### ??? QUESTION ???
# --------------

### How can we proceed with the results of this line?
# df.groupby(['DISPLAY_FIRST_LAST'])['Game_ID'].count()
(df.groupby(['DISPLAY_FIRST_LAST'])['Game_ID'].nunique() >= 82).sum()

21

## 4: 
- Find which team scored the most points for the entire season.

- Now do the same for rebounds, blocks, and assists.

In [54]:
df.groupby('TEAM_ABBREVIATION')['PTS'].sum().nlargest()

TEAM_ABBREVIATION
MIL    9686
GSW    9650
NOP    9466
PHI    9445
LAC    9442
Name: PTS, dtype: int64

In [52]:
# grouped_season = df.groupby(['TEAM_ABBREVIATION'])['PTS'].sum()
# grouped_season.nlargest(1, keep = 'first')

# Sean:
teams = df.groupby(['TEAM_ABBREVIATION'])
print(teams['PTS'].sum().max())  
print(teams['PTS'].sum().idxmax())
teams['PTS'].sum().nlargest(2)

9686
MIL

TEAM_ABBREVIATION
MIL    9686
GSW    9650
Name: PTS, dtype: int64

## 5:
Which team had the most players play for them last season?

In [72]:
teams['DISPLAY_FIRST_LAST'].nunique().idxmax()
teams['DISPLAY_FIRST_LAST'].nunique().max()
teams['DISPLAY_FIRST_LAST'].nunique().nlargest(2)

TEAM_ABBREVIATION
MEM    28
CLE    27
Name: DISPLAY_FIRST_LAST, dtype: int64

In [80]:
#your code here

### NOTE ----------->   Unique Persons per Team (like the ex. Unique Id's per domain)

n_players = df.groupby('TEAM_ABBREVIATION')['PERSON_ID'].nunique()
n_players.loc[n_players.apply(lambda x: x >= n_players.max())]

TEAM_ABBREVIATION
MEM    28
Name: PERSON_ID, dtype: int64

In [258]:
n_players = df.groupby('TEAM_ABBREVIATION')['PERSON_ID'].nunique()
print(n_players.idxmax())
print(n_players.max())

MEM
28

In [297]:
n_players = df.groupby('TEAM_ABBREVIATION')['PERSON_ID'].nunique()

# print([n_players.apply(lambda x: x == n_players.max())])

n_players.loc[n_players.apply(lambda x: x == n_players.max())]

TEAM_ABBREVIATION
MEM    28
Name: PERSON_ID, dtype: int64

## 6:
- Did any players play for more than one team last year?

- What is the most number of teams a player played for last season?

In [155]:
# df.iloc(player_grouped['TEAM_ABBREVIATION'].nunique() > 1)

mt = player_grouped['TEAM_ABBREVIATION'].nunique()

mt.loc[mt.apply(lambda x: x > 1)].count() # 86
mt.loc[mt.apply(lambda x: x > 1)].max()

# df.iloc[df[player_grouped['TEAM_ABBREVIATION'].nunique() > 1]]
# player_grouped['TEAM_ABBREVIATION'].nunique().loc[player_grouped['TEAM_ABBREVIATION'].nunique() > 1]

3

In [154]:
# Sean
# g3_df = df.groupby('TEAM_ABBREVIATION')['DISPLAY_FIRST_LAST'].value_counts().unstack().fillna(0).astype(bool).sum()
# g3_df[g3_df>1].max()

g3 = df.groupby('TEAM_ABBREVIATION')['DISPLAY_FIRST_LAST'].value_counts().unstack().fillna(0).astype(bool).sum()
g3[g3>1]
g3[g3>1].max()

3

## 7:

Find the player who scored the least amount of points while playing in at least 40 games last season.

In [159]:
player_grouped['PTS'].max()

DISPLAY_FIRST_LAST
Aaron Gordon           31
Aaron Holiday          19
Abdel Nader            18
Al Horford             24
Al-Farouq Aminu        23
Alan Williams           8
Alec Burks             22
Alex Abrines           25
Alex Caruso            32
Alex Len               33
Alex Poythress         12
Alfonzo McKinnie       19
Alize Johnson           7
Allen Crabbe           27
Allonzo Trier          31
Amile Jefferson         6
Amir Johnson           13
Andre Drummond         32
Andre Iguodala         23
Andre Ingram            0
Andrew Bogut            8
Andrew Harrison        10
Andrew Wiggins         40
Anfernee Simons        37
Angel Delgado           3
Ante Zizic             23
Anthony Davis          48
Anthony Tolliver       17
Antonio Blakeney       22
Aron Baynes            16
                       ..
Tyler Zeller           15
Tyreke Evans           27
Tyrone Wallace         15
Tyson Chandler         14
Tyus Jones             16
Udonis Haslem          12
Victor Oladipo         36
Vince Carter           21
Vincent Edwards         3
Wade Baldwin IV         5
Walter Lemon Jr.       24
Wayne Ellington        26
Wayne Selden           20
Wendell Carter Jr.     28
Wes Iwundu             16
Wesley Johnson         14
Wesley Matthews        25
Will Barton            23
Willie Cauley-Stein    26
Willy Hernangomez      22
Wilson Chandler        15
Yante Maten             2
Yogi Ferrell           19
Yuta Watanabe          10
Zach Collins           18
Zach LaVine            47
Zach Lofton             0
Zaza Pachulia          11
Zhaire Smith           17
Zhou Qi                 2
Name: PTS, Length: 530, dtype: int64

In [365]:
players = df.groupby(['DISPLAY_FIRST_LAST']).agg({'DISPLAY_FIRST_LAST': 'count', 'PTS': 'sum'})
psble_players = players.loc[players.DISPLAY_FIRST_LAST > 40]


worse_player = psble_players.loc[psble_players.PTS == psble_players.PTS.min()]
worse_player

                     DISPLAY_FIRST_LAST  PTS
DISPLAY_FIRST_LAST
Sindarius Thornwell                  64   62

In [ ]:
# Gal

# players = df.groupby(['DISPLAY_FIRST_LAST']).agg({'DISPLAY_FIRST_LAST': 'count', 'PTS': 'sum'})
# psble_players = players.loc[players.DISPLAY_FIRST_LAST > 40]
# worse_player = psble_players.loc[psble_players.PTS == psble_players.PTS.min()]
# worse_player

# Part 4: Pandas and Probability

## 8: 

What is the probability that a random player had a game where they scored more than 40 points?

In [385]:
p = len(df[df.PTS >= 40])/len(df)

print('Percent is {}'.format(round(p*100, 2)))

Percent is 0.52

## 9:
What is the probability that a randomly selected player from last season would average more than 20 points per game?

In [388]:
# Sean
import numpy as np
np.sum(player_grouped['PTS'].mean()>20)

33

# Advanced Questions

## 10: 
Find the player who scored the least amount of points while playing in at least 40 games and averageing at least 15 minutes per game last season.

In [ ]:
player_grouped.aggregate({'playr_id': 'count', mean: mean, pts: sum}).query...........

## 11: 
Which player scored the largest share of points for their team throughout the season.

In [ ]:
#your code here

## 12:

What is the probability that a randomly selected player had at least one game in which they scored 40 points last season.

In [ ]:
# your code here

## 13: 

A double-double is when a player records for any of the two follow categories: points, rebounds, assists, steals, or blocks. 
What is the probability that a randomly selected player had a double-double in a game last season?

In [ ]:
#your code here

## 14:

What is the probability that a randomnly selected game had a player record a triple-double in that game?

In [ ]:
#your code here

# Part 5: Super Duper Challenge

## 15:

How many players last season averaged more points per game than their career average?